body {
	container: body / inline-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	letter-spacing: 0px;
	background-color: var(--primitive-common-white);
	overflow: auto;
}

.icon-ic-responsive {
	width: 14px; height: 14px;
	justify-content: center;
	flex-shrink: 0;
}

.ic-responsive {
	width: 16px; height: 16px;
	justify-content: center;
	flex-shrink: 0;
}

.contents-text-a {
	color: var(--primitive-neutral-900);
	font-size: 20px;
	font-family: 'Pretendard';
	font-weight: 600;
	line-height: 1.4;
}

.btn-numbering {
	width: 100%; height: 28px;
	max-width: 28px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	background-color: var(--primitive-brand-200);
	padding: 3px 6px;
	border-radius: 50%;
}

.line {
	opacity: 0.24;
	margin-left: -1px;
	width: 100%;
	max-width: 0;
	flex-shrink: 0;
	border-left: 1px solid var(--primitive-brand-800);
}

.card-text {
	color: var(--primitive-neutral-500);
	font-weight: 600;
}



/* select-menu-item-a */

.select-menu-item-a {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 6px 3px;
}

.select-menu-item-circle-radio {
	position: relative; z-index: 1;
	margin-top: 3px;
	width: 13px; height: 13px;
	flex-shrink: 0;
	background-color: var(--primitive-brand-500);
	padding: 3px;
	border-radius: var(--primitive-radius-10000);
}

.select-menu-item-circle-symbol {
	width: 100%; height: 7px;
	max-width: 7px;
	background-color: var(--primitive-common-white);
	border-radius: 50%;
}

.select-menu-item-text1 {
	position: relative; z-index: 2;
	text-align: left;
}
/* end select-menu-item-a*/


.interaction {
	position: absolute; top: 0; left: 0; right: 0; 
	height: 32px;
	background-color: var(--primitive-opacity-black-0);
}



/* select-menu-item-b */

.select-menu-item-b {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 6px 3px;
}

.select-menu-item-circle {
	position: relative; z-index: 1;
	margin-top: 3px;
	width: 13px; height: 13px;
	flex-shrink: 0;
	border: 1px solid var(--primitive-opacity-black-24);
	border-radius: var(--primitive-radius-10000);
}

.select-menu-item-text2 {
	position: relative; z-index: 2;
	text-align: left;
}
/* end select-menu-item-b*/


.contents-text-b {
	color: var(--primitive-neutral-900);
	font-size: 20px;
	font-family: 'Pretendard';
	line-height: 1.4;
}

.btn-b {
	width: 100px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.167;
	letter-spacing: 0px;
	text-align: center;
	padding: 9px 11px;
	border-radius: 4px;
}

.text-a {
	flex-grow: 1;
	color: var(--primitive-neutral-500);
	font-size: 14px;
	line-height: 1.429;
	text-align: left;
}

.contents-text-c {
	font-size: 20px;
	line-height: 1.4;
}

.contents-text-d {
	font-size: 16px;
	line-height: 1.375;
}



/* example-header-a */

.example-header-a {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	color: var(--primitive-green-600);
	font-size: 16px;
	line-height: 1.375;
	letter-spacing: -0.3px;
	padding-bottom: 14px;
	border-bottom: 2px solid var(--primitive-green-600);
}

.example-header-text1 {
	margin-top: 1px;
	flex-grow: 1;
	text-align: left;
}
/* end example-header-a*/


.ic-dont {
	width: 24px; height: 24px;
	flex-shrink: 0;
}

.img {
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 8px;
}

.text-symbol {
	color: var(--primitive-neutral-500);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
}

.contents-text-e {
	color: var(--primitive-neutral-900);
	font-size: 16px;
	font-family: 'Pretendard';
	font-weight: 600;
	line-height: 1.375;
}



/* example-header-b */

.example-header-b {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.375;
	letter-spacing: -0.3px;
	padding-bottom: 14px;
}

.example-header-text2 {
	margin-top: 1px;
	flex-grow: 1;
	text-align: left;
}
/* end example-header-b*/




/* table-cell */

.table-cell {
	container: table-cell1 / inline-size;
	margin: 0 -1px;
	gap: var(--padding-8);
	padding: var(--padding-12);
	border-bottom: 1px solid var(--semantic-border-divider200);
}



/* btn-e */

.btn-e {
	margin: 0 auto;
	width: 100%;
	min-width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-6);
	letter-spacing: 0px;
	text-align: unset;
	padding: var(--padding-8) var(--padding-12);
	border-radius: var(--primitive-radius-4);
}

.btn-icon-ic-responsive-c {
	width: 20px; height: 20px;
	justify-content: center;
	flex-shrink: 0;
}

.btn-label4 {
	text-align: center;
}
/* end btn-e*/

/* end table-cell*/


.contents-text-f {
	color: var(--primitive-neutral-900);
	font-size: 16px;
	font-family: 'Pretendard';
	font-weight: 600;
	line-height: 1.375;
}

.contents-img {
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 8px;
}

.contents-text-symbol {
	color: var(--primitive-neutral-500);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
}

.header {
	container: header / inline-size;
	display: flex;
	align-items: center;
	gap: 68px;
	color: var(--primitive-neutral-400);
	font-family: var(--font-family-pretendard);
	font-weight: 600;
	padding: 19px 23px;
	border: 1px solid var(--primitive-neutral-200);
}

.header-section {
	display: flex;
	align-items: center;
	gap: 12px;
}

.header-logo {
	width: 32px;
	flex-shrink: 0;
	border-radius: var(--primitive-radius-4);
}

.header-text-solum-design {
	color: var(--primitive-neutral-800);
	font-size: 18px;
	line-height: 1.333;
	text-align: left;
}

.header-btn-badge {
	display: flex;
	color: var(--primitive-neutral-500);
	font-size: 12px;
	font-style: normal;
	line-height: 1.167;
	letter-spacing: 0px;
	text-align: left;
	background-color: var(--primitive-common-white);
	padding: 3px 8px 3px 7px;
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 10000px;
}

.header-menu {
	max-width: 1288px;
	display: flex;
	align-items: center;
	gap: var(--padding-48);
	flex-grow: 1;
	font-size: 18px;
	line-height: 1.333;
	padding-right: 737px;
}

.header-text {
	text-align: left;
}

.header-text-left {
	flex-grow: 1;
	text-align: left;
}

.header-text-components {
	color: var(--primitive-brand-400);
}

.header-input-search {
	width: 160px;
	display: flex;
	align-items: center;
	gap: var(--gap-4);
	flex-shrink: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.167;
	background-color: var(--primitive-common-white);
	padding: var(--padding-8) var(--padding-12) var(--padding-8) var(--padding-8);
	border: 1px solid var(--primitive-neutral-300);
	border-radius: var(--primitive-radius-4);
}

.header-ic-search {
	height: unset;
	justify-content: unset;
	aspect-ratio: 1 / 1;
}

.header-text2 {
	flex-grow: 1;
	text-align: left;
}

.contents {
	display: flex;
	align-items: flex-start;
	gap: 390px;
	padding-right: 390px;
}

.contents-sidebar {
	width: 240px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	color: var(--primitive-neutral-500);
	font-size: 16px;
	font-family: var(--font-family-pretendard);
	font-weight: 400;
	line-height: 1.375;
	text-align: left;
	padding-bottom: var(--padding-24);
	border-right: 1px solid var(--primitive-neutral-200);
}

.contents-sidebar-navi {
	margin-right: -1px;
	display: flex;
	flex-direction: column;
	padding-top: 14px;
	padding-bottom: var(--padding-24);
	border-right: 1px solid var(--primitive-neutral-100);
}

.contents-section1 {
	margin-right: -1px; margin-bottom: -106px;
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
	padding: 18px var(--padding-14) 9px var(--padding-14);
}



/* sidebar-item-a */

.sidebar-item-a {
	margin-top: 9px;
	display: flex;
	align-items: center;
	gap: var(--gap-8);
	color: var(--primitive-brand-400);
	font-weight: 600;
	padding: var(--padding-8) var(--padding-8) var(--padding-8) var(--primitive-opacity-8);
}

.sidebar-item-text1 {
	flex-grow: 1;
	text-align: left;
}
/* end sidebar-item-a*/




/* sidebar-item-b */

.sidebar-item-b {
	margin-top: 9px;
	display: flex;
	align-items: center;
	gap: var(--gap-8);
	padding: var(--padding-8);
}

.sidebar-item-text2 {
	flex-grow: 1;
	text-align: left;
}
/* end sidebar-item-b*/


.contents-text-sidebar1 {
	margin: 0 8px;
	color: var(--primitive-neutral-800);
}

.contents-text-sidebar2 {
	margin: 13px 8px 0 8px;
}

.contents-sidebar-item {
	color: var(--primitive-brand-400);
	background-color: var(--primitive-opacity-brand-12);
	padding: 9px 8px 9px 24px;
	border-radius: 4px;
}

.contents-text-sidebar3 {
	margin-left: 16px; margin-top: 9px;
	width: 100%;
	max-width: 180px;
	align-self: center;
}

.contents-text-sidebar4 {
	margin-left: 16px; margin-top: 18px;
	width: 100%;
	max-width: 180px;
	align-self: center;
}

.contents-text-sidebar5 {
	margin-left: 16px; margin-top: 18px;
	width: 100%;
	max-width: 180px;
	align-self: center;
}

.contents-text-sidebar6 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar7 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar8 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar9 {
	margin: 9px 8px 0 8px;
}

.contents-text-sidebar10 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar11 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar12 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar13 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar14 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar15 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar16 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar17 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar18 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar19 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar20 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar21 {
	margin: 18px 8px 0 8px;
}

.contents-text-sidebar22 {
	margin: 18px 8px 0 8px;
}

.contents-contents {
	container: contents-contents / inline-size;
	margin-top: 60px;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	gap: var(--gap-60);
	flex-grow: 1;
	text-align: left;
}



/* tabs */

.tabs {
	margin-top: 60px;
	display: flex;
	align-items: flex-start;
	gap: var(--gap-16);
	font-size: 16px;
	font-family: var(--font-family-pretendard);
	line-height: 1.375;
	background-color: var(--primitive-common-white);
	padding-top: 13px;
	border-bottom: 1px solid var(--primitive-neutral-200);
}

.tabs-text1 {
	margin-top: 5px; margin-bottom: -1px;
	color: var(--primitive-brand-800);
	text-align: center;
	padding: 0 4px 11px 4px;
	border-bottom: 2px solid var(--primitive-brand-800);
}

.tabs-text2 {
	color: var(--primitive-neutral-600);
	font-weight: 400;
	text-align: center;
}
/* end tabs*/


.contents-title {
	display: flex;
	flex-direction: column;
	gap: var(--gap-12);
}

.contents-section2 {
	display: flex;
	flex-direction: column;
	gap: var(--gap-4);
	font-family: var(--font-family-pretendard);
	font-weight: 600;
}

.contents-text-components {
	color: var(--primitive-neutral-500);
}

.contents-title-btn {
	color: var(--primitive-neutral-900);
	font-size: 48px;
	line-height: 1.083;
}

.contents-text-a-btn-triggers {
	color: var(--primitive-neutral-900);
	font-size: 16px;
	font-family: 'Pretendard';
	font-weight: 400;
	line-height: 1.75;
}

.contents-section3 {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.contents-section4 {
	container: contents-section4 / inline-size;
	display: flex;
	flex-direction: column;
	gap: var(--gap-16);
	font-family: var(--font-family-pretendard);
}

.contents-artwork1 {
	container: contents-artwork1 / inline-size;
	position: relative;
	min-height: 232px;
	flex-shrink: 0;
	font-weight: 600;
	background-color: var(--primitive-neutral-50);
	border: 1px solid var(--primitive-neutral-200);
	border-radius: var(--primitive-radius-8);
}



/* btn-a */

.btn-a {
	position: absolute; top: 109px; left: 396px; 
	width: calc(100% - 396px);
	max-width: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-6);
	color: var(--primitive-common-white);
	font-size: 14px;
	font-style: normal;
	line-height: 1.429;
	letter-spacing: 0px;
	text-align: unset;
	background-color: var(--primitive-brand-800);
	padding: var(--padding-8) var(--padding-12);
	border-radius: var(--primitive-radius-4);
}

.btn-icon-ic-responsive-a {
	width: 20px; height: 20px;
	justify-content: center;
	flex-shrink: 0;
}

.btn-label1 {
	text-align: center;
}
/* end btn-a*/


.contents-group {
	container: contents-group / inline-size;
	position: absolute; top: 43px; left: 397px; 
	width: calc(100% - 397px);
	max-width: 104px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--primitive-brand-800);
	font-size: 16px;
	line-height: 1.375;
}

.contents-row1 {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}



/* anatomy-label */

.anatomy-label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}
/* end anatomy-label*/


.anatomy-label1 .anatomy-label-line {
	height: 40px;
}

.contents-anatomy-label1 {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.contents-line1 {
	height: 35px;
}

.anatomy-label2 .anatomy-label-line {
	height: 40px;
}

.contents-anatomy-label2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

.contents-line2 {
	height: 30px;
}

.contents-section5 {
	container: contents-section5 / inline-size;
	display: flex;
	align-items: flex-start;
	gap: var(--gap-24);
}



/* anatomy-item */

.anatomy-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.anatomy-item-btn-numbering {
	width: 24px; height: 24px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	color: var(--primitive-brand-800);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375;
	letter-spacing: 0px;
	text-align: center;
	background-color: var(--primitive-brand-200);
	padding: 1px 4px;
	border-radius: 50%;
}

.anatomy-item-name {
	display: flex;
	align-items: flex-start;
	gap: 6px;
	color: var(--primitive-neutral-900);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
}

.anatomy-item-type-icon {
	width: 20px; height: 20px;
	flex-shrink: 0;
}

.anatomy-item-text {
	text-align: left;
}
/* end anatomy-item*/


.contents-section6 {
	container: contents-section6 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.contents-text-variants {
	align-self: stretch;
}

.card3 {
	width: 100%;
	max-width: 900px;
	display: flex;
	align-items: flex-start;
	align-self: end;
	font-size: 14px;
	font-family: var(--font-family-pretendard);
	line-height: 1.429;
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 8px;
}

.card-section1 {
	margin: -1px 0;
	width: 600px;
	min-height: 364px;
	gap: var(--gap-60);
	flex-shrink: 0;
	color: var(--primitive-common-white);
	font-weight: 600;
	background-color: var(--primitive-neutral-50);
	padding: var(--padding-60);
	border-right: 1px solid var(--primitive-neutral-200);
}

.card-btn {
	margin: 0 auto;
	width: 100%;
	min-width: 64px;
	display: flex;
	justify-content: center;
	letter-spacing: 0px;
	background-color: var(--primitive-brand-800);
	padding: 8px 13px;
	border-radius: 4px;
}

.card-section2 {
	margin: -1px -1px -1px 0;
	min-height: 364px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--primitive-opacity-24);
	flex-grow: 1;
	text-align: left;
	background-color: var(--primitive-common-white);
	padding: var(--padding-30);
}

.card-section3 {
	display: flex;
	flex-direction: column;
	gap: var(--gap-8);
}

.card-section4 {
	display: flex;
	flex-direction: column;
	color: var(--primitive-neutral-900);
	font-weight: 400;
}

.card-section5 {
	display: flex;
	flex-direction: column;
	gap: var(--gap-8);
}

.card-section6 {
	display: flex;
	flex-direction: column;
	color: var(--primitive-neutral-900);
	font-weight: 400;
}

.contents-section7 {
	container: contents-section7 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 600;
}

.contents-artwork2 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-60);
	color: var(--primitive-common-white);
	font-family: var(--font-family-pretendard);
	background-color: var(--primitive-neutral-50);
	padding: 59px 22px;
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 8px;
}

.contents-btn1 {
	width: 77px;
	font-weight: unset;
	background-color: var(--primitive-brand-800);
}

.contents-btn2 {
	justify-content: center;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.contents-btn3 {
	width: 77px;
	justify-content: center;
	flex-shrink: 0;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

.contents-section8 {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 600;
}

.card-artwork1 {
	container: card-artwork1 / inline-size;
	gap: var(--gap-48);
	font-size: 12px;
	font-family: var(--font-family-pretendard);
	line-height: 1.167;
}



/* section-a */

.section-a {
	container: section3 / inline-size;
	display: flex;
	align-items: flex-end;
	gap: var(--gap-60);
	padding-right: 297px;
}



/* btn-c */

.btn-c {
	width: 69px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-4);
	flex-shrink: 0;
	color: var(--primitive-common-white);
	font-style: normal;
	letter-spacing: 0px;
	text-align: unset;
	padding: var(--padding-8) var(--padding-12);
	border-radius: var(--primitive-radius-4);
}

.btn-label2 {
	text-align: center;
}
/* end btn-c*/

/* end section-a*/


.section3 .btn2 {
	background-color: var(--primitive-brand-800);
}

.section3 .btn3 {
	color: var(--primitive-brand-800);
	background-color: var(--primitive-common-white);
	border: 1px solid var(--primitive-neutral-300);
}

.section3 .btn4 {
	background-color: var(--primitive-brand-500);
}

.section4 .btn2 {
	background-color: var(--primitive-brand-600);
}

.section4 .btn3 {
	color: var(--primitive-brand-800);
	background-color: var(--primitive-neutral-50);
	border: 1px solid var(--primitive-neutral-300);
}

.section4 .btn4 {
	background-color: var(--primitive-brand-300);
}

.card-artwork-section {
	container: card-artwork-section / inline-size;
	display: flex;
	align-items: flex-end;
	gap: var(--gap-60);
	padding-right: 297px;
}



/* btn-d */

.btn-d {
	box-shadow: 0px 0px 0px 4px var(--primitive-neutral-900),0px 0px 0px 2px var(--primitive-common-white);
	width: 69px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gap-4);
	flex-shrink: 0;
	color: var(--primitive-common-white);
	font-style: normal;
	letter-spacing: 0px;
	text-align: unset;
	padding: var(--padding-8) var(--padding-12);
	border-radius: var(--primitive-radius-4);
	overflow: hidden;
}

.btn-icon-ic-responsive-b {
	width: 14px; height: 14px;
	justify-content: center;
	flex-shrink: 0;
}

.btn-label3 {
	text-align: center;
}
/* end btn-d*/


.btn7 {
	background-color: var(--primitive-brand-800);
}

.btn8 {
	color: var(--primitive-brand-800);
	background-color: var(--primitive-common-white);
	border: 1px solid var(--primitive-neutral-300);
}

.btn9 {
	background-color: var(--primitive-brand-500);
}

.section5 .btn2 {
	background-color: var(--primitive-brand-700);
}

.section5 .btn3 {
	color: var(--primitive-brand-800);
	background-color: var(--primitive-neutral-100);
	border: 1px solid var(--primitive-neutral-300);
}

.section5 .btn4 {
	background-color: var(--primitive-brand-400);
}

.section6 .btn2 {
	background-color: var(--primitive-neutral-300);
}

.section6 .btn3 {
	color: var(--primitive-neutral-300);
	background-color: var(--primitive-common-white);
	border: 1px solid var(--primitive-neutral-300);
}

.section6 .btn4 {
	background-color: var(--primitive-neutral-300);
}

.contents-section9 {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.card-artwork2 {
	container: card-artwork2 / inline-size;
	gap: var(--gap-36);
	font-family: var(--font-family-pretendard);
}



/* section-b */

.section-b {
	display: flex;
	align-items: center;
	gap: var(--gap-60);
}

.section-text1 {
	flex-grow: 1;
	color: var(--primitive-neutral-900);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
	text-align: left;
}
/* end section-b*/


.section7 .section-btn {
	color: var(--primitive-common-white);
	background-color: var(--primitive-brand-800);
}

.section8 .section-btn {
	color: var(--primitive-brand-800);
	background-color: var(--primitive-common-white);
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid var(--primitive-neutral-300);
}

.section9 .section-btn {
	color: var(--primitive-common-white);
	background-color: var(--primitive-brand-500);
}

.contents-col1 {
	container: contents-col1 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: var(--primitive-neutral-900);
	font-family: 'Pretendard';
	font-weight: 600;
}

.contents-row2 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	font-family: var(--font-family-pretendard);
	padding-bottom: 255px;
}



/* section-c */

.section-c {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}
/* end section-c*/


.contents-col2 {
	margin-top: -195px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--font-family-pretendard);
}



/* section-d */

.section-d {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section-text-bottom2 {
	color: var(--primitive-neutral-500);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
}
/* end section-d*/


.section12 .example-header2 {
	color: var(--primitive-green-600);
	border-bottom: 2px solid var(--primitive-green-600);
}

.section13 .example-header2 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-section10 {
	container: contents-section10 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: var(--primitive-neutral-900);
	font-family: 'Pretendard';
	font-weight: 600;
}

.contents-section11 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	font-family: var(--font-family-pretendard);
}

.contents-section12 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}

.contents-img1 {
	justify-content: center;
}

.contents-section13 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}

.example-header6 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-col3 {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--primitive-neutral-500);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.429;
}

.contents-img2 {
	justify-content: center;
}

.contents-section14 {
	container: contents-section14 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--font-family-pretendard);
}



/* section-e */

.section-e {
	display: flex;
	align-items: flex-start;
	gap: 24px;
}



/* section-f */

.section-f {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}
/* end section-f*/

/* end section-e*/


.section14 .section1 .example-header3 {
	color: var(--primitive-green-600);
	border-bottom: 2px solid var(--primitive-green-600);
}

.section14 .section2 .example-header3 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-section15 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	font-size: 16px;
	font-weight: 400;
}



/* section-g */

.section-g {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}

.card2 {
	display: flex;
	flex-direction: column;
	color: var(--primitive-common-white);
	line-height: 1.5;
	background-color: var(--primitive-neutral-50);
	border: 1px solid var(--primitive-neutral-200);
	border-radius: 8px;
}

.section-text-bottom4 {
	color: var(--primitive-neutral-500);
	font-size: 14px;
	line-height: 1.429;
}
/* end section-g*/


.section15 .example-header4 {
	color: var(--primitive-green-600);
	font-size: unset;
	border-bottom: 2px solid var(--primitive-green-600);
}

.section15 .table-cell1 {
	margin-top: -1px;
}

.section15 .table-cell1 .btn5 {
	background-color: var(--primitive-brand-800);
}

.section15 .table-cell2 {
	margin-bottom: -1px;
}

.section15 .table-cell2 .btn5 {
	background-color: var(--primitive-brand-500);
}

.section16 .example-header4 {
	color: var(--primitive-red-600);
	font-size: unset;
	border-bottom: 2px solid var(--primitive-red-600);
}

.section16 .table-cell1 {
	margin-top: -1px;
}

.section16 .table-cell1 .btn5 {
	background-color: var(--primitive-brand-800);
}

.section16 .table-cell2 {
	margin-bottom: -1px;
}

.section16 .table-cell2 .btn5 {
	background-color: var(--primitive-brand-500);
}

.section17 .section1 .example-header3 {
	color: var(--primitive-green-600);
	border-bottom: 2px solid var(--primitive-green-600);
}

.section17 .section2 .example-header3 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-section16 {
	container: contents-section16 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contents-text-right-to-left {
	color: var(--primitive-neutral-900);
	font-size: 16px;
	font-family: 'Pretendard';
	font-weight: 600;
	line-height: 1.375;
}

.contents-section17 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	color: var(--primitive-neutral-500);
	font-size: 14px;
	font-family: var(--font-family-pretendard);
	font-weight: 400;
	line-height: 1.429;
}



/* section-h */

.section-h {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}
/* end section-h*/


.contents-col4 {
	container: contents-col4 / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contents-usage {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	font-family: var(--font-family-pretendard);
}

.contents-section18 {
	width: 100%;
	min-width: 429px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}

.example-header7 {
	color: var(--primitive-green-600);
	border-bottom: 2px solid var(--primitive-green-600);
}

.contents-img3 {
	justify-content: center;
}

.contents-section19 {
	width: 100%;
	min-width: 429px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	text-align: left;
}

.example-header8 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-col-bottom {
	container: contents-col-bottom / inline-size;
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contents-row3 {
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.contents-section20 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.375;
	letter-spacing: -0.3px;
	padding-bottom: 60px;
}

.example-header9 {
	color: var(--primitive-green-600);
	font-size: unset;
	font-family: var(--font-family-pretendard);
	font-weight: unset;
	line-height: unset;
	letter-spacing: unset;
	border-bottom: 2px solid var(--primitive-green-600);
}

.contents-symbol {
	margin: NaNpx NaNpx 0 NaNpx;
}

.contents-section21 {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex-grow: 1;
	font-family: var(--font-family-pretendard);
	text-align: left;
}

.example-header10 {
	color: var(--primitive-red-600);
	border-bottom: 2px solid var(--primitive-red-600);
}

.contents-img6 {
	justify-content: center;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.select-menu-item-a {
		padding-inline: 0;
	}
	.select-menu-item-b {
		padding-inline: 0;
	}
	.table-cell {
		padding-inline: var(--margin-md);
	}
	.btn-e {
		margin-inline: 0;
	}
	.header {
		padding-inline: var(--margin-sm);
	}
	.header-menu {
		padding-inline: 0;
	}
	.contents-section1 {
		padding-inline: 0;
	}
	.sidebar-item-a {
		padding-inline: 0;
	}
	.sidebar-item-b {
		padding-inline: 0;
	}
	.contents-text-sidebar1 {
		margin-inline: 0;
	}
	.contents-text-sidebar2 {
		margin-inline: 0;
	}
	.contents-text-sidebar3 {
		margin-inline: 0;
	}
	.contents-text-sidebar4 {
		margin-inline: 0;
	}
	.contents-text-sidebar5 {
		margin-inline: 0;
	}
	.contents-text-sidebar6 {
		margin-inline: 0;
	}
	.contents-text-sidebar7 {
		margin-inline: 0;
	}
	.contents-text-sidebar8 {
		margin-inline: 0;
	}
	.contents-text-sidebar9 {
		margin-inline: 0;
	}
	.contents-text-sidebar10 {
		margin-inline: 0;
	}
	.contents-text-sidebar11 {
		margin-inline: 0;
	}
	.contents-text-sidebar12 {
		margin-inline: 0;
	}
	.contents-text-sidebar13 {
		margin-inline: 0;
	}
	.contents-text-sidebar14 {
		margin-inline: 0;
	}
	.contents-text-sidebar15 {
		margin-inline: 0;
	}
	.contents-text-sidebar16 {
		margin-inline: 0;
	}
	.contents-text-sidebar17 {
		margin-inline: 0;
	}
	.contents-text-sidebar18 {
		margin-inline: 0;
	}
	.contents-text-sidebar19 {
		margin-inline: 0;
	}
	.contents-text-sidebar20 {
		margin-inline: 0;
	}
	.contents-text-sidebar21 {
		margin-inline: 0;
	}
	.contents-text-sidebar22 {
		margin-inline: 0;
	}
	.card-section1 {
		padding-inline: var(--margin-md);
	}
	.card-btn {
		margin-inline: 0;
	}
	.card-section2 {
		padding-inline: var(--margin-sm);
	}
	.contents-artwork2 {
		padding-inline: var(--margin-sm);
	}
	.section-a {
		padding-inline: 0;
	}
	.card-artwork-section {
		padding-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.table-cell {
		padding-inline: var(--margin-sm);
	}
	.card-section1 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container table-cell1 (width < 63px) {
	.btn-e {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.btn-e > * {
		text-align: center;
	}
	.btn-e > .btn-icon3 {
		width: 100%;
		max-width: 20px;
	}
}

@container body (width < 1909px) {
	.header {
		flex-direction: column;
		align-items: center;
		gap: 13px;
		padding: 8px 24px;
	}
	.header > * {
		text-align: center;
	}
	.header > .header-menu {
		width: 100%;
	}
}

@container header (width < 1285px) {
	.header-menu {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.header-menu > * {
		text-align: center;
	}
	.header-menu > .header-text-left {
		width: 100%;
	}
}

@container body (width < 1909px) {
	.contents {
		flex-direction: column;
		align-items: flex-start;
		gap: 100px;
	}
	.contents > * {
		margin-top: unset !important;
	}
	.contents > .contents-sidebar {
		width: 100%;
		max-width: 240px;
	}
	.contents > .contents-contents {
		width: 100%;
	}
}

@container contents-contents (width < 158px) {
	.tabs {
		flex-direction: column;
		align-items: center;
		gap: 13px;
		padding: 8px;
	}
	.tabs > * {
		margin-top: unset !important;
		text-align: center;
	}
}

@container contents-artwork1 (width < 96px) {
	.btn-a {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.btn-a > * {
		text-align: center;
	}
	.btn-a > .btn-icon-ic1 {
		width: 100%;
		max-width: 20px;
	}
	.btn-a > .btn-icon-ic2 {
		width: 100%;
		max-width: 20px;
	}
}

@container contents-group (width < 103px) {
	.contents-row1 {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.contents-row1 > * {
		margin-top: unset !important;
	}
	.contents-row1 > .anatomy-label1 {
		width: 100%;
	}
	.contents-row1 > .anatomy-label1 > * {
		text-align: unset;
	}
	.contents-row1 > .contents-anatomy-label1 {
		width: 100%;
	}
	.contents-row1 > .contents-anatomy-label1 > * {
		text-align: unset;
	}
	.contents-row1 > .anatomy-label2 {
		width: 100%;
	}
	.contents-row1 > .anatomy-label2 > * {
		text-align: unset;
	}
}

@container contents-section4 (width < 518px) {
	.contents-section5 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.contents-section5 > * {
		text-align: center;
	}
}

@container contents-section5 (width < 112px) {
	.anatomy-item {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.anatomy-item > * {
		text-align: center;
	}
	.anatomy-item > .anatomy-item-btn-numbering {
		width: 100%;
		max-width: 24px;
	}
}

@container contents-section6 (width < 900px) {
	.card3 {
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
	.card3 > * {
		margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.card3 > .card-section1 {
		width: 100%;
		max-width: 600px;
	}
	.card3 > .card-section2 {
		width: 100%;
	}
}

@container contents-section7 (width < 396px) {
	.contents-artwork2 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.contents-artwork2 > * {
		text-align: center;
	}
	.contents-artwork2 > .contents-btn1 {
		width: 100%;
		max-width: 77px;
	}
	.contents-artwork2 > .contents-btn3 {
		width: 100%;
		max-width: 77px;
	}
}

@container card-artwork1 (width < 801px) {
	.section-a {
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
	.section-a > * {
		text-align: center;
	}
	.section-a > .section-text-left {
		width: 100%;
	}
	.section-a > .btn2 {
		width: 100%;
		max-width: 69px;
	}
	.section-a > .btn3 {
		width: 100%;
		max-width: 69px;
	}
	.section-a > .btn4 {
		width: 100%;
		max-width: 69px;
	}
}

@container section3 (width < 68px) {
	.btn-c {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
	.btn-c > * {
		text-align: center;
	}
	.btn-c > .btn-icon1 {
		width: 100%;
		max-width: 14px;
	}
}

@container card-artwork1 (width < 801px) {
	.card-artwork-section {
		flex-direction: column;
		align-items: center;
		gap: 48px;
	}
	.card-artwork-section > * {
		text-align: center;
	}
	.card-artwork-section > .card-artwork-text-left {
		width: 100%;
	}
	.card-artwork-section > .btn7 {
		width: 100%;
		max-width: 69px;
	}
	.card-artwork-section > .btn8 {
		width: 100%;
		max-width: 69px;
	}
	.card-artwork-section > .btn9 {
		width: 100%;
		max-width: 69px;
	}
}

@container card-artwork-section (width < 68px) {
	.btn-d {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
	.btn-d > * {
		text-align: center;
	}
	.btn-d > .btn-icon2 {
		width: 100%;
		max-width: 14px;
	}
}

@container card-artwork2 (width < 801px) {
	.section-b {
		flex-direction: column;
		align-items: center;
		gap: 36px;
	}
	.section-b > * {
		text-align: center;
	}
	.section-b > .section-btn {
		width: 100%;
		max-width: 100px;
	}
	.section-b > .section-text1 {
		width: 100%;
	}
}

@container contents-col1 (width < 899px) {
	.contents-row2 {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
	.contents-row2 > .section10 {
		width: 100%;
	}
	.contents-row2 > .section11 {
		width: 100%;
	}
}

@container contents-section10 (width < 899px) {
	.contents-section11 {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.contents-section11 > .contents-section12 {
		width: 100%;
	}
	.contents-section11 > .contents-section13 {
		width: 100%;
	}
}

@container contents-section14 (width < 899px) {
	.section-e {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.section-e > .section1 {
		width: 100%;
	}
	.section-e > .section2 {
		width: 100%;
	}
}

@container contents-section14 (width < 899px) {
	.contents-section15 {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.contents-section15 > .section15 {
		width: 100%;
	}
	.contents-section15 > .section16 {
		width: 100%;
	}
}

@container contents-section16 (width < 899px) {
	.contents-section17 {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.contents-section17 > .section18 {
		width: 100%;
	}
	.contents-section17 > .section19 {
		width: 100%;
	}
}

@container contents-col4 (width < 881px) {
	.contents-usage {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.contents-usage > .contents-section18 {
		width: 100%;
	}
	.contents-usage > .contents-section19 {
		width: 100%;
	}
}

@container contents-col-bottom (width < 899px) {
	.contents-row3 {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.contents-row3 > .contents-section20 {
		width: 100%;
	}
	.contents-row3 > .contents-section21 {
		width: 100%;
	}
}
